# Subgraph Configuration
# Copy this file to .env and update values for local development
# Current values are for Arbitrum Sepolia testnet in DEV
# For CI/CD and ECS deployments, these are set as environment variables

# Network name (localhost, arbitrum-sepolia, arbitrum)
NETWORK=arbitrum-sepolia

# Futures contract address
FUTURES_ADDRESS=0xec76867e96d942282fc7aafe3f778de34d41a311

# Block number to start indexing Futures contract
START_BLOCK_FUTURES=222848905

# Hashrate Oracle contract address
HASHRATE_ORACLE_ADDRESS=0x6F736186d2c93913721e2570c283dff2a08575e9

# Block number to start indexing Hashrate Oracle
START_BLOCK_HASHRATE_ORACLE=220848905

# Polling interval for Hashrate Oracle block handler
HASHRATE_ORACLE_POLLING_BLOCK_INTERVAL=10000